<h1>Sign up!</h1>

<form action="<%= user_url(@user) %>" method="POST" >
    <label> username:
        <input type="text" name="user[username]">
    </label>

    <br>

    <label> password:
        <input type="password" name="user[password]">
    </label>

    <br>

    <input type="submit" name="sign up!">
</form>